--
-- PostgreSQL database dump
--

\restrict ZsYncWdUdrXtiKZ2nKemBfYdF4KS8ZT46yaLGseA6ddnC5KbmJp3bm0kxFjCPYb

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: attendance_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO attendance_user;

--
-- Name: BiometricType; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."BiometricType" AS ENUM (
    'FINGERPRINT',
    'FACE',
    'CARD',
    'PIN'
);


ALTER TYPE public."BiometricType" OWNER TO attendance_user;

--
-- Name: EmploymentType; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."EmploymentType" AS ENUM (
    'FULL_TIME',
    'PART_TIME',
    'CONTRACT',
    'INTERN'
);


ALTER TYPE public."EmploymentType" OWNER TO attendance_user;

--
-- Name: LogDirection; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."LogDirection" AS ENUM (
    'IN',
    'OUT'
);


ALTER TYPE public."LogDirection" OWNER TO attendance_user;

--
-- Name: LogSource; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."LogSource" AS ENUM (
    'FACE',
    'FINGERPRINT',
    'CARD',
    'PIN',
    'MANUAL',
    'MOBILE'
);


ALTER TYPE public."LogSource" OWNER TO attendance_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'HR',
    'MANAGER',
    'EMPLOYEE'
);


ALTER TYPE public."Role" OWNER TO attendance_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance_days; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.attendance_days (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    date date NOT NULL,
    "firstIn" timestamp(3) without time zone,
    "lastOut" timestamp(3) without time zone,
    "totalMinutes" integer DEFAULT 0 NOT NULL,
    "overtimeMins" integer DEFAULT 0 NOT NULL,
    "lateMins" integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'PRESENT'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.attendance_days OWNER TO attendance_user;

--
-- Name: attendance_logs; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.attendance_logs (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    direction public."LogDirection" NOT NULL,
    source public."LogSource" NOT NULL,
    "deviceId" text,
    confidence double precision,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "scanId" text
);


ALTER TABLE public.attendance_logs OWNER TO attendance_user;

--
-- Name: biometrics; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.biometrics (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    type public."BiometricType" NOT NULL,
    "deviceUserId" text NOT NULL,
    template bytea,
    "deviceId" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.biometrics OWNER TO attendance_user;

--
-- Name: device_api_keys; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.device_api_keys (
    id text NOT NULL,
    "deviceId" text NOT NULL,
    "keyHash" text NOT NULL,
    label text,
    "lastUsedAt" timestamp(3) without time zone,
    "expiresAt" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.device_api_keys OWNER TO attendance_user;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.devices (
    id text NOT NULL,
    name text NOT NULL,
    location text,
    type text DEFAULT 'CAMERA'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.devices OWNER TO attendance_user;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.employees (
    id text NOT NULL,
    "employeeCode" text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text NOT NULL,
    phone text,
    department text,
    designation text,
    "employmentType" public."EmploymentType" DEFAULT 'FULL_TIME'::public."EmploymentType" NOT NULL,
    "dateOfJoining" timestamp(3) without time zone NOT NULL,
    "dateOfLeaving" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "baseSalary" numeric(12,2),
    currency text DEFAULT 'INR'::text NOT NULL,
    "userId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.employees OWNER TO attendance_user;

--
-- Name: face_embeddings; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.face_embeddings (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    embedding double precision[],
    label text,
    quality double precision,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.face_embeddings OWNER TO attendance_user;

--
-- Name: payroll_runs; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.payroll_runs (
    id text NOT NULL,
    "periodStart" date NOT NULL,
    "periodEnd" date NOT NULL,
    status text DEFAULT 'DRAFT'::text NOT NULL,
    "totalGross" numeric(14,2) DEFAULT 0 NOT NULL,
    "totalNet" numeric(14,2) DEFAULT 0 NOT NULL,
    "totalEmployees" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.payroll_runs OWNER TO attendance_user;

--
-- Name: payslip_line_items; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.payslip_line_items (
    id text NOT NULL,
    "payslipId" text NOT NULL,
    category text NOT NULL,
    label text NOT NULL,
    amount numeric(12,2) NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.payslip_line_items OWNER TO attendance_user;

--
-- Name: payslips; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.payslips (
    id text NOT NULL,
    "payrollRunId" text NOT NULL,
    "employeeId" text NOT NULL,
    "employeeCode" text NOT NULL,
    "employeeName" text NOT NULL,
    email text NOT NULL,
    "periodStart" date NOT NULL,
    "periodEnd" date NOT NULL,
    "presentDays" numeric(5,2) NOT NULL,
    "absentDays" numeric(5,2) NOT NULL,
    "halfDays" numeric(5,2) NOT NULL,
    "overtimeMins" integer DEFAULT 0 NOT NULL,
    "lateMins" integer DEFAULT 0 NOT NULL,
    "grossPay" numeric(12,2) NOT NULL,
    "totalDeductions" numeric(12,2) NOT NULL,
    "netPay" numeric(12,2) NOT NULL,
    currency text DEFAULT 'INR'::text NOT NULL,
    "emailedAt" timestamp(3) without time zone,
    "pdfPath" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.payslips OWNER TO attendance_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    role public."Role" DEFAULT 'EMPLOYEE'::public."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO attendance_user;

--
-- Data for Name: attendance_days; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.attendance_days (id, "employeeId", date, "firstIn", "lastOut", "totalMinutes", "overtimeMins", "lateMins", status, "createdAt", "updatedAt") FROM stdin;
8734ae2f-5e70-4a49-8920-9222e7e15f82	705e04ec-94ca-48db-8354-a90fa892a87a	2026-09-19	2026-09-19 23:09:30.572	2026-09-19 23:10:01.179	1	0	0	HALF_DAY	2026-09-19 23:09:30.586	2026-09-19 23:10:01.188
\.


--
-- Data for Name: attendance_logs; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.attendance_logs (id, "employeeId", "timestamp", direction, source, "deviceId", confidence, notes, "createdAt", "scanId") FROM stdin;
66c998e5-98e5-4db7-a079-c8bfc4c9aa51	705e04ec-94ca-48db-8354-a90fa892a87a	2026-09-19 23:09:30.572	IN	FACE	\N	0.8226	\N	2026-09-19 23:09:30.577	\N
a3372d45-a4ce-47b2-8b3c-e9cc9e80078d	705e04ec-94ca-48db-8354-a90fa892a87a	2026-09-19 23:10:01.179	OUT	FACE	\N	0.8022	\N	2026-09-19 23:10:01.183	\N
\.


--
-- Data for Name: biometrics; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.biometrics (id, "employeeId", type, "deviceUserId", template, "deviceId", "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: device_api_keys; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.device_api_keys (id, "deviceId", "keyHash", label, "lastUsedAt", "expiresAt", "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.devices (id, name, location, type, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: face_embeddings; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: payroll_runs; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.payroll_runs (id, "periodStart", "periodEnd", status, "totalGross", "totalNet", "totalEmployees", "createdAt", "updatedAt") FROM stdin;
5d453562-a261-4d2a-a6f6-6091801f9b0a	2026-09-01	2026-09-30	COMPLETED	500.00	470.00	1	2026-09-19 23:13:35.847	2026-09-19 23:14:09.324
\.


--
-- Data for Name: payslip_line_items; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.payslip_line_items (id, "payslipId", category, label, amount, "sortOrder") FROM stdin;
40c070cb-0546-40e9-abd5-d7198536820b	3d891afe-ac25-42fc-969b-b558b18e8e29	EARNING	Basic	250.00	0
d74c91e4-549e-4611-a762-9e3d0baa7785	3d891afe-ac25-42fc-969b-b558b18e8e29	EARNING	House Rent Allowance (HRA)	100.00	1
41c4b136-42dd-4fd1-9f93-9e63e3ab01d4	3d891afe-ac25-42fc-969b-b558b18e8e29	EARNING	Special Allowance	150.00	2
99d62fb7-09e4-45c7-b949-da3f50e9cc18	3d891afe-ac25-42fc-969b-b558b18e8e29	DEDUCTION	Provident Fund (PF)	30.00	0
\.


--
-- Data for Name: payslips; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.payslips (id, "payrollRunId", "employeeId", "employeeCode", "employeeName", email, "periodStart", "periodEnd", "presentDays", "absentDays", "halfDays", "overtimeMins", "lateMins", "grossPay", "totalDeductions", "netPay", currency, "emailedAt", "pdfPath", "createdAt", "updatedAt") FROM stdin;
3d891afe-ac25-42fc-969b-b558b18e8e29	5d453562-a261-4d2a-a6f6-6091801f9b0a	705e04ec-94ca-48db-8354-a90fa892a87a	EMP-0001	Narayan Mali	narayansaini8302@gmail.com	2026-09-01	2026-09-30	0.00	0.00	1.00	0	0	500.00	30.00	470.00	INR	\N	\N	2026-09-19 23:13:37.895	2026-09-19 23:13:37.895
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.users (id, email, "passwordHash", role, "isActive", "createdAt", "updatedAt") FROM stdin;
e6b340bf-c9f9-41dd-bfe0-a8e46bcf2f8a	admin@company.com	$2b$12$B7rgC0Tx8J3JknteruuwAO/GbY3q2FEi96pFxlLg8nFBSo4L5oTJO	ADMIN	t	2026-09-18 21:26:06.289	2026-09-18 21:26:06.289
3455a68c-c567-4bc3-aab9-8e67d9039a59	regular@company.com	$2b$12$TgH37mnV1rdR0dB5DW8G/Oa/3EI2iJ4x1fJNW9euIiAGoQJU3N8Fq	EMPLOYEE	t	2026-09-18 21:33:31.926	2026-09-18 21:33:31.926
\.


--
-- Name: attendance_days attendance_days_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_days
    ADD CONSTRAINT attendance_days_pkey PRIMARY KEY (id);


--
-- Name: attendance_logs attendance_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_logs
    ADD CONSTRAINT attendance_logs_pkey PRIMARY KEY (id);


--
-- Name: biometrics biometrics_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.biometrics
    ADD CONSTRAINT biometrics_pkey PRIMARY KEY (id);


--
-- Name: device_api_keys device_api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.device_api_keys
    ADD CONSTRAINT device_api_keys_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: face_embeddings face_embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_pkey PRIMARY KEY (id);


--
-- Name: payroll_runs payroll_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payroll_runs
    ADD CONSTRAINT payroll_runs_pkey PRIMARY KEY (id);


--
-- Name: payslip_line_items payslip_line_items_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payslip_line_items
    ADD CONSTRAINT payslip_line_items_pkey PRIMARY KEY (id);


--
-- Name: payslips payslips_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payslips
    ADD CONSTRAINT payslips_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: attendance_days_date_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX attendance_days_date_idx ON public.attendance_days USING btree (date);


--
-- Name: attendance_days_employeeId_date_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "attendance_days_employeeId_date_key" ON public.attendance_days USING btree ("employeeId", date);


--
-- Name: attendance_logs_employeeId_timestamp_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "attendance_logs_employeeId_timestamp_idx" ON public.attendance_logs USING btree ("employeeId", "timestamp");


--
-- Name: attendance_logs_scanId_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "attendance_logs_scanId_key" ON public.attendance_logs USING btree ("scanId");


--
-- Name: attendance_logs_timestamp_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX attendance_logs_timestamp_idx ON public.attendance_logs USING btree ("timestamp");


--
-- Name: biometrics_deviceId_deviceUserId_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "biometrics_deviceId_deviceUserId_key" ON public.biometrics USING btree ("deviceId", "deviceUserId");


--
-- Name: biometrics_employeeId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "biometrics_employeeId_idx" ON public.biometrics USING btree ("employeeId");


--
-- Name: device_api_keys_deviceId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "device_api_keys_deviceId_idx" ON public.device_api_keys USING btree ("deviceId");


--
-- Name: device_api_keys_keyHash_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "device_api_keys_keyHash_key" ON public.device_api_keys USING btree ("keyHash");


--
-- Name: employees_email_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX employees_email_key ON public.employees USING btree (email);


--
-- Name: employees_employeeCode_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "employees_employeeCode_key" ON public.employees USING btree ("employeeCode");


--
-- Name: employees_userId_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "employees_userId_key" ON public.employees USING btree ("userId");


--
-- Name: face_embeddings_employeeId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "face_embeddings_employeeId_idx" ON public.face_embeddings USING btree ("employeeId");


--
-- Name: payroll_runs_periodStart_periodEnd_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "payroll_runs_periodStart_periodEnd_key" ON public.payroll_runs USING btree ("periodStart", "periodEnd");


--
-- Name: payslip_line_items_payslipId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "payslip_line_items_payslipId_idx" ON public.payslip_line_items USING btree ("payslipId");


--
-- Name: payslips_employeeId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "payslips_employeeId_idx" ON public.payslips USING btree ("employeeId");


--
-- Name: payslips_payrollRunId_employeeId_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "payslips_payrollRunId_employeeId_key" ON public.payslips USING btree ("payrollRunId", "employeeId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: attendance_logs attendance_logs_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_logs
    ADD CONSTRAINT "attendance_logs_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public.employees(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: biometrics biometrics_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.biometrics
    ADD CONSTRAINT "biometrics_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public.employees(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: device_api_keys device_api_keys_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.device_api_keys
    ADD CONSTRAINT "device_api_keys_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: employees employees_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT "employees_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: face_embeddings face_embeddings_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT "face_embeddings_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public.employees(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payslip_line_items payslip_line_items_payslipId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payslip_line_items
    ADD CONSTRAINT "payslip_line_items_payslipId_fkey" FOREIGN KEY ("payslipId") REFERENCES public.payslips(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payslips payslips_payrollRunId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payslips
    ADD CONSTRAINT "payslips_payrollRunId_fkey" FOREIGN KEY ("payrollRunId") REFERENCES public.payroll_runs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ZsYncWdUdrXtiKZ2nKemBfYdF4KS8ZT46yaLGseA6ddnC5KbmJp3bm0kxFjCPYb

