--
-- PostgreSQL database dump
--

\restrict 1cVRmjn4lJdWdhBwdmIL8dPE2Bbu8b139nBV2wiqg7LmeIAMSoOGyFsCrSWIaBv

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "users_companyId_fkey";
ALTER TABLE IF EXISTS ONLY public.tax_invoices DROP CONSTRAINT IF EXISTS "tax_invoices_clientId_fkey";
ALTER TABLE IF EXISTS ONLY public.tax_invoice_line_items DROP CONSTRAINT IF EXISTS "tax_invoice_line_items_invoiceId_fkey";
ALTER TABLE IF EXISTS ONLY public.payslips DROP CONSTRAINT IF EXISTS "payslips_payrollRunId_fkey";
ALTER TABLE IF EXISTS ONLY public.payslip_line_items DROP CONSTRAINT IF EXISTS "payslip_line_items_payslipId_fkey";
ALTER TABLE IF EXISTS ONLY public.payroll_runs DROP CONSTRAINT IF EXISTS "payroll_runs_companyId_fkey";
ALTER TABLE IF EXISTS ONLY public.face_embeddings DROP CONSTRAINT IF EXISTS "face_embeddings_employeeId_fkey";
ALTER TABLE IF EXISTS ONLY public.employees DROP CONSTRAINT IF EXISTS "employees_userId_fkey";
ALTER TABLE IF EXISTS ONLY public.employees DROP CONSTRAINT IF EXISTS "employees_companyId_fkey";
ALTER TABLE IF EXISTS ONLY public.employee_assignments DROP CONSTRAINT IF EXISTS "employee_assignments_clientId_fkey";
ALTER TABLE IF EXISTS ONLY public.devices DROP CONSTRAINT IF EXISTS "devices_companyId_fkey";
ALTER TABLE IF EXISTS ONLY public.device_api_keys DROP CONSTRAINT IF EXISTS "device_api_keys_deviceId_fkey";
ALTER TABLE IF EXISTS ONLY public.clients DROP CONSTRAINT IF EXISTS "clients_companyId_fkey";
ALTER TABLE IF EXISTS ONLY public.client_category_rates DROP CONSTRAINT IF EXISTS "client_category_rates_clientId_fkey";
ALTER TABLE IF EXISTS ONLY public.biometrics DROP CONSTRAINT IF EXISTS "biometrics_employeeId_fkey";
ALTER TABLE IF EXISTS ONLY public.attendance_logs DROP CONSTRAINT IF EXISTS "attendance_logs_employeeId_fkey";
ALTER TABLE IF EXISTS ONLY public.attendance_days DROP CONSTRAINT IF EXISTS "attendance_days_employeeId_fkey";
DROP INDEX IF EXISTS public.users_email_key;
DROP INDEX IF EXISTS public."users_companyId_idx";
DROP INDEX IF EXISTS public."tax_invoices_companyId_periodStart_idx";
DROP INDEX IF EXISTS public."tax_invoices_companyId_invoiceNumber_key";
DROP INDEX IF EXISTS public."tax_invoices_clientId_idx";
DROP INDEX IF EXISTS public."tax_invoice_line_items_invoiceId_idx";
DROP INDEX IF EXISTS public."payslips_payrollRunId_employeeId_key";
DROP INDEX IF EXISTS public."payslips_employeeId_idx";
DROP INDEX IF EXISTS public."payslip_line_items_payslipId_idx";
DROP INDEX IF EXISTS public."payroll_runs_companyId_periodStart_periodEnd_key";
DROP INDEX IF EXISTS public."payroll_runs_companyId_idx";
DROP INDEX IF EXISTS public."face_embeddings_employeeId_idx";
DROP INDEX IF EXISTS public."employees_userId_key";
DROP INDEX IF EXISTS public."employees_companyId_idx";
DROP INDEX IF EXISTS public."employees_companyId_employeeCode_key";
DROP INDEX IF EXISTS public."employees_companyId_email_key";
DROP INDEX IF EXISTS public."employee_assignments_employeeId_idx";
DROP INDEX IF EXISTS public."employee_assignments_clientId_idx";
DROP INDEX IF EXISTS public."employee_assignments_clientId_employeeId_startDate_key";
DROP INDEX IF EXISTS public."devices_companyId_idx";
DROP INDEX IF EXISTS public."device_api_keys_keyHash_key";
DROP INDEX IF EXISTS public."device_api_keys_deviceId_idx";
DROP INDEX IF EXISTS public."clients_companyId_name_key";
DROP INDEX IF EXISTS public."clients_companyId_idx";
DROP INDEX IF EXISTS public."client_category_rates_clientId_category_key";
DROP INDEX IF EXISTS public."biometrics_employeeId_idx";
DROP INDEX IF EXISTS public."biometrics_deviceId_deviceUserId_key";
DROP INDEX IF EXISTS public.attendance_logs_timestamp_idx;
DROP INDEX IF EXISTS public."attendance_logs_scanId_key";
DROP INDEX IF EXISTS public."attendance_logs_employeeId_timestamp_idx";
DROP INDEX IF EXISTS public."attendance_logs_companyId_timestamp_idx";
DROP INDEX IF EXISTS public."attendance_days_employeeId_date_key";
DROP INDEX IF EXISTS public.attendance_days_date_idx;
DROP INDEX IF EXISTS public."attendance_days_companyId_date_idx";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.tax_invoices DROP CONSTRAINT IF EXISTS tax_invoices_pkey;
ALTER TABLE IF EXISTS ONLY public.tax_invoice_line_items DROP CONSTRAINT IF EXISTS tax_invoice_line_items_pkey;
ALTER TABLE IF EXISTS ONLY public.super_admins DROP CONSTRAINT IF EXISTS super_admins_pkey;
ALTER TABLE IF EXISTS ONLY public.super_admins DROP CONSTRAINT IF EXISTS super_admins_email_key;
ALTER TABLE IF EXISTS ONLY public.payslips DROP CONSTRAINT IF EXISTS payslips_pkey;
ALTER TABLE IF EXISTS ONLY public.payslip_line_items DROP CONSTRAINT IF EXISTS payslip_line_items_pkey;
ALTER TABLE IF EXISTS ONLY public.payroll_runs DROP CONSTRAINT IF EXISTS payroll_runs_pkey;
ALTER TABLE IF EXISTS ONLY public.face_embeddings DROP CONSTRAINT IF EXISTS face_embeddings_pkey;
ALTER TABLE IF EXISTS ONLY public.employees DROP CONSTRAINT IF EXISTS employees_pkey;
ALTER TABLE IF EXISTS ONLY public.employee_assignments DROP CONSTRAINT IF EXISTS employee_assignments_pkey;
ALTER TABLE IF EXISTS ONLY public.devices DROP CONSTRAINT IF EXISTS devices_pkey;
ALTER TABLE IF EXISTS ONLY public.device_api_keys DROP CONSTRAINT IF EXISTS device_api_keys_pkey;
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS companies_slug_key;
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS companies_pkey;
ALTER TABLE IF EXISTS ONLY public.clients DROP CONSTRAINT IF EXISTS clients_pkey;
ALTER TABLE IF EXISTS ONLY public.client_category_rates DROP CONSTRAINT IF EXISTS client_category_rates_pkey;
ALTER TABLE IF EXISTS ONLY public.biometrics DROP CONSTRAINT IF EXISTS biometrics_pkey;
ALTER TABLE IF EXISTS ONLY public.attendance_logs DROP CONSTRAINT IF EXISTS attendance_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.attendance_days DROP CONSTRAINT IF EXISTS attendance_days_pkey;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.tax_invoices;
DROP TABLE IF EXISTS public.tax_invoice_line_items;
DROP TABLE IF EXISTS public.super_admins;
DROP TABLE IF EXISTS public.payslips;
DROP TABLE IF EXISTS public.payslip_line_items;
DROP TABLE IF EXISTS public.payroll_runs;
DROP TABLE IF EXISTS public.face_embeddings;
DROP TABLE IF EXISTS public.employees;
DROP TABLE IF EXISTS public.employee_assignments;
DROP TABLE IF EXISTS public.devices;
DROP TABLE IF EXISTS public.device_api_keys;
DROP TABLE IF EXISTS public.companies;
DROP TABLE IF EXISTS public.clients;
DROP TABLE IF EXISTS public.client_category_rates;
DROP TABLE IF EXISTS public.biometrics;
DROP TABLE IF EXISTS public.attendance_logs;
DROP TABLE IF EXISTS public.attendance_days;
DROP TYPE IF EXISTS public."Role";
DROP TYPE IF EXISTS public."LogSource";
DROP TYPE IF EXISTS public."LogDirection";
DROP TYPE IF EXISTS public."EmploymentType";
DROP TYPE IF EXISTS public."EmployeeCategory";
DROP TYPE IF EXISTS public."BiometricType";
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: attendance_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO attendance_user;

--
-- Name: BiometricType; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."BiometricType" AS ENUM (
    'FINGERPRINT',
    'FACE',
    'CARD',
    'PIN'
);


ALTER TYPE public."BiometricType" OWNER TO attendance_user;

--
-- Name: EmployeeCategory; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."EmployeeCategory" AS ENUM (
    'HOUSEKEEPING',
    'SEMI_SKILLED',
    'SECURITY_GUARD',
    'SUPERVISOR'
);


ALTER TYPE public."EmployeeCategory" OWNER TO attendance_user;

--
-- Name: EmploymentType; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."EmploymentType" AS ENUM (
    'FULL_TIME',
    'PART_TIME',
    'CONTRACT',
    'INTERN'
);


ALTER TYPE public."EmploymentType" OWNER TO attendance_user;

--
-- Name: LogDirection; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."LogDirection" AS ENUM (
    'IN',
    'OUT'
);


ALTER TYPE public."LogDirection" OWNER TO attendance_user;

--
-- Name: LogSource; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."LogSource" AS ENUM (
    'FACE',
    'FINGERPRINT',
    'CARD',
    'PIN',
    'MANUAL',
    'MOBILE'
);


ALTER TYPE public."LogSource" OWNER TO attendance_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: attendance_user
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'HR',
    'MANAGER',
    'EMPLOYEE'
);


ALTER TYPE public."Role" OWNER TO attendance_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance_days; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.attendance_days (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    date date NOT NULL,
    "firstIn" timestamp(3) without time zone,
    "lastOut" timestamp(3) without time zone,
    "totalMinutes" integer DEFAULT 0 NOT NULL,
    "overtimeMins" integer DEFAULT 0 NOT NULL,
    "lateMins" integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'PRESENT'::text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "companyId" text NOT NULL
);


ALTER TABLE public.attendance_days OWNER TO attendance_user;

--
-- Name: attendance_logs; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.attendance_logs (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    "timestamp" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    direction public."LogDirection" NOT NULL,
    source public."LogSource" NOT NULL,
    "deviceId" text,
    confidence double precision,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "scanId" text,
    "companyId" text NOT NULL
);


ALTER TABLE public.attendance_logs OWNER TO attendance_user;

--
-- Name: biometrics; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.biometrics (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    type public."BiometricType" NOT NULL,
    "deviceUserId" text NOT NULL,
    template bytea,
    "deviceId" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.biometrics OWNER TO attendance_user;

--
-- Name: client_category_rates; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.client_category_rates (
    id text NOT NULL,
    "clientId" text NOT NULL,
    category public."EmployeeCategory" NOT NULL,
    "hourlyRate" numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.client_category_rates OWNER TO attendance_user;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.clients (
    id text NOT NULL,
    name text NOT NULL,
    gstin text,
    address text NOT NULL,
    email text,
    phone text,
    "stateCode" text,
    "companyId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.clients OWNER TO attendance_user;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.companies (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    address text,
    "bankAccount" text,
    "bankIfsc" text,
    "bankName" text,
    email text,
    gstin text,
    "invoicePrefix" text DEFAULT 'INV'::text,
    "logoPath" text,
    pan text,
    phone text,
    "stateCode" text,
    website text
);


ALTER TABLE public.companies OWNER TO attendance_user;

--
-- Name: device_api_keys; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.device_api_keys (
    id text NOT NULL,
    "deviceId" text NOT NULL,
    "keyHash" text NOT NULL,
    label text,
    "lastUsedAt" timestamp(3) without time zone,
    "expiresAt" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.device_api_keys OWNER TO attendance_user;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.devices (
    id text NOT NULL,
    name text NOT NULL,
    location text,
    type text DEFAULT 'CAMERA'::text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "companyId" text NOT NULL
);


ALTER TABLE public.devices OWNER TO attendance_user;

--
-- Name: employee_assignments; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.employee_assignments (
    id text NOT NULL,
    "clientId" text NOT NULL,
    "employeeId" text NOT NULL,
    "startDate" date NOT NULL,
    "endDate" date,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.employee_assignments OWNER TO attendance_user;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.employees (
    id text NOT NULL,
    "employeeCode" text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    email text NOT NULL,
    phone text,
    department text,
    designation text,
    "employmentType" public."EmploymentType" DEFAULT 'FULL_TIME'::public."EmploymentType" NOT NULL,
    "dateOfJoining" timestamp(3) without time zone NOT NULL,
    "dateOfLeaving" timestamp(3) without time zone,
    "isActive" boolean DEFAULT true NOT NULL,
    "baseSalary" numeric(12,2),
    currency text DEFAULT 'INR'::text NOT NULL,
    "userId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "companyId" text NOT NULL,
    address text,
    category public."EmployeeCategory" DEFAULT 'HOUSEKEEPING'::public."EmployeeCategory" NOT NULL,
    "fatherName" text
);


ALTER TABLE public.employees OWNER TO attendance_user;

--
-- Name: face_embeddings; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.face_embeddings (
    id text NOT NULL,
    "employeeId" text NOT NULL,
    embedding double precision[],
    label text,
    quality double precision,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.face_embeddings OWNER TO attendance_user;

--
-- Name: payroll_runs; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.payroll_runs (
    id text NOT NULL,
    "periodStart" date NOT NULL,
    "periodEnd" date NOT NULL,
    status text DEFAULT 'DRAFT'::text NOT NULL,
    "totalGross" numeric(14,2) DEFAULT 0 NOT NULL,
    "totalNet" numeric(14,2) DEFAULT 0 NOT NULL,
    "totalEmployees" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "companyId" text NOT NULL
);


ALTER TABLE public.payroll_runs OWNER TO attendance_user;

--
-- Name: payslip_line_items; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.payslip_line_items (
    id text NOT NULL,
    "payslipId" text NOT NULL,
    category text NOT NULL,
    label text NOT NULL,
    amount numeric(12,2) NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.payslip_line_items OWNER TO attendance_user;

--
-- Name: payslips; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.payslips (
    id text NOT NULL,
    "payrollRunId" text NOT NULL,
    "employeeId" text NOT NULL,
    "employeeCode" text NOT NULL,
    "employeeName" text NOT NULL,
    email text NOT NULL,
    "periodStart" date NOT NULL,
    "periodEnd" date NOT NULL,
    "presentDays" numeric(5,2) NOT NULL,
    "absentDays" numeric(5,2) NOT NULL,
    "halfDays" numeric(5,2) NOT NULL,
    "overtimeMins" integer DEFAULT 0 NOT NULL,
    "lateMins" integer DEFAULT 0 NOT NULL,
    "grossPay" numeric(12,2) NOT NULL,
    "totalDeductions" numeric(12,2) NOT NULL,
    "netPay" numeric(12,2) NOT NULL,
    currency text DEFAULT 'INR'::text NOT NULL,
    "emailedAt" timestamp(3) without time zone,
    "pdfPath" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.payslips OWNER TO attendance_user;

--
-- Name: super_admins; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.super_admins (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.super_admins OWNER TO attendance_user;

--
-- Name: tax_invoice_line_items; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.tax_invoice_line_items (
    id text NOT NULL,
    "invoiceId" text NOT NULL,
    "employeeId" text,
    "employeeCode" text NOT NULL,
    "employeeName" text NOT NULL,
    category public."EmployeeCategory" NOT NULL,
    "hoursWorked" numeric(8,2) NOT NULL,
    "hourlyRate" numeric(10,2) NOT NULL,
    amount numeric(12,2) NOT NULL
);


ALTER TABLE public.tax_invoice_line_items OWNER TO attendance_user;

--
-- Name: tax_invoices; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.tax_invoices (
    id text NOT NULL,
    "invoiceNumber" text NOT NULL,
    "clientId" text NOT NULL,
    "companyId" text NOT NULL,
    "periodStart" date NOT NULL,
    "periodEnd" date NOT NULL,
    subtotal numeric(12,2) NOT NULL,
    "cgstAmount" numeric(12,2) DEFAULT 0 NOT NULL,
    "sgstAmount" numeric(12,2) DEFAULT 0 NOT NULL,
    "igstAmount" numeric(12,2) DEFAULT 0 NOT NULL,
    "totalAmount" numeric(12,2) NOT NULL,
    status text DEFAULT 'DRAFT'::text NOT NULL,
    "issuedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "dueDate" timestamp(3) without time zone,
    "paidAt" timestamp(3) without time zone,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.tax_invoices OWNER TO attendance_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    role public."Role" DEFAULT 'EMPLOYEE'::public."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "companyId" text NOT NULL
);


ALTER TABLE public.users OWNER TO attendance_user;

--
-- Data for Name: attendance_days; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.attendance_days (id, "employeeId", date, "firstIn", "lastOut", "totalMinutes", "overtimeMins", "lateMins", status, "createdAt", "updatedAt", "companyId") FROM stdin;
e55efd61-dc9c-462a-a4da-f676dfd0eaa8	95fd2967-facc-40a8-9ace-fe55574b4401	2026-09-26	2026-09-26 12:24:45.318	2026-09-26 12:25:54.936	0	0	0	PRESENT	2026-09-26 12:24:45.374	2026-09-26 12:25:54.963	00000000-0000-0000-0000-000000000001
\.


--
-- Data for Name: attendance_logs; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.attendance_logs (id, "employeeId", "timestamp", direction, source, "deviceId", confidence, notes, "createdAt", "scanId", "companyId") FROM stdin;
1609a6f1-c11a-4b40-852e-5275eaeca22a	95fd2967-facc-40a8-9ace-fe55574b4401	2026-09-26 12:24:45.318	IN	FACE	\N	0.8183	\N	2026-09-26 12:24:45.337	\N	00000000-0000-0000-0000-000000000001
bf333e56-ca57-4525-9cf7-e24a83cb55ef	95fd2967-facc-40a8-9ace-fe55574b4401	2026-09-26 12:25:54.936	OUT	FACE	\N	0.7236	\N	2026-09-26 12:25:54.947	\N	00000000-0000-0000-0000-000000000001
\.


--
-- Data for Name: biometrics; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.biometrics (id, "employeeId", type, "deviceUserId", template, "deviceId", "isActive", "createdAt") FROM stdin;
\.


--
-- Data for Name: client_category_rates; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.client_category_rates (id, "clientId", category, "hourlyRate", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: clients; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.clients (id, name, gstin, address, email, phone, "stateCode", "companyId", "createdAt", "updatedAt") FROM stdin;
239f61d8-9b32-4a46-b045-08912255af2a	Randi rona	assf54648f4f6g4	adnaheufh	sdkah787@gmail.com	456484148	27	00000000-0000-0000-0000-000000000001	2026-09-26 12:22:23.963	2026-09-26 12:22:23.963
\.


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: device_api_keys; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.device_api_keys (id, "deviceId", "keyHash", label, "lastUsedAt", "expiresAt", "isActive", "createdAt") FROM stdin;
35ff83f1-a4a2-4d85-b337-dc997c9b58c2	6ad113cc-c530-44cd-8947-65fe0f4a1524	e61d9dd7fb2ad69bd8ec643b1a7fc9229c86252ee09fda2341a5f3ae2dacbd4b	default	2026-09-26 12:25:54.412	\N	t	2026-09-26 12:24:06.695
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.devices (id, name, location, type, "isActive", "createdAt", "updatedAt", "companyId") FROM stdin;
6ad113cc-c530-44cd-8947-65fe0f4a1524	cak1	dsfds2	CAMERA	t	2026-09-26 12:24:06.68	2026-09-26 12:24:06.68	00000000-0000-0000-0000-000000000001
\.


--
-- Data for Name: employee_assignments; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.employee_assignments (id, "clientId", "employeeId", "startDate", "endDate", "isActive", "createdAt", "updatedAt") FROM stdin;
3c12ef4b-9217-42f8-bf8e-5d2915230f3c	239f61d8-9b32-4a46-b045-08912255af2a	95fd2967-facc-40a8-9ace-fe55574b4401	2026-09-26	2026-09-30	t	2026-09-26 12:23:04.648	2026-09-26 12:23:04.648
\.


--
-- Data for Name: employees; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.employees (id, "employeeCode", "firstName", "lastName", email, phone, department, designation, "employmentType", "dateOfJoining", "dateOfLeaving", "isActive", "baseSalary", currency, "userId", "createdAt", "updatedAt", "companyId", address, category, "fatherName") FROM stdin;
95fd2967-facc-40a8-9ace-fe55574b4401	101	Fuck 	Boy	narayansaini8301@gmail.com	4857765889	police	thanedar	FULL_TIME	2026-09-26 00:00:00	\N	t	262190.00	INR	\N	2026-09-26 12:21:38.273	2026-09-26 12:53:05.509	00000000-0000-0000-0000-000000000001	vgfuewgjbcnvbhjhs	SUPERVISOR	Fucker
\.


--
-- Data for Name: face_embeddings; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: payroll_runs; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.payroll_runs (id, "periodStart", "periodEnd", status, "totalGross", "totalNet", "totalEmployees", "createdAt", "updatedAt", "companyId") FROM stdin;
6b2878cf-c87b-4949-8f19-ee93386a5c45	2026-09-01	2026-09-30	COMPLETED	0.00	0.00	1	2026-09-26 12:26:13.994	2026-09-26 12:26:38.578	00000000-0000-0000-0000-000000000001
\.


--
-- Data for Name: payslip_line_items; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.payslip_line_items (id, "payslipId", category, label, amount, "sortOrder") FROM stdin;
f1f940c6-f192-428e-963d-f8e966151508	2c7aaac8-b2f4-4d7d-92e4-82edf8e4ce42	EARNING	Basic	0.00	0
db2e4135-d5ed-40b6-9daf-760ff852af85	2c7aaac8-b2f4-4d7d-92e4-82edf8e4ce42	EARNING	House Rent Allowance (HRA)	0.00	1
1d1c10f0-4027-4bdb-aecf-c37cd6615565	2c7aaac8-b2f4-4d7d-92e4-82edf8e4ce42	EARNING	Special Allowance	0.00	2
\.


--
-- Data for Name: payslips; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.payslips (id, "payrollRunId", "employeeId", "employeeCode", "employeeName", email, "periodStart", "periodEnd", "presentDays", "absentDays", "halfDays", "overtimeMins", "lateMins", "grossPay", "totalDeductions", "netPay", currency, "emailedAt", "pdfPath", "createdAt", "updatedAt") FROM stdin;
2c7aaac8-b2f4-4d7d-92e4-82edf8e4ce42	6b2878cf-c87b-4949-8f19-ee93386a5c45	95fd2967-facc-40a8-9ace-fe55574b4401	101	Fuck  Boy	asdf345@gmail.com	2026-09-01	2026-09-30	1.00	0.00	0.00	0	0	0.00	0.00	0.00	INR	2026-09-26 12:55:52.908	\N	2026-09-26 12:26:34.168	2026-09-26 12:55:52.909
\.


--
-- Data for Name: super_admins; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.super_admins (id, email, "passwordHash", "isActive", "createdAt", "updatedAt") FROM stdin;
73480a2c-be27-432d-9b60-223d67a82b0b	super@attendance.local	$2b$12$7YsNle97dxXZjjluJPtsfuCdH0NxtvCm/0SRn8ol4MyjAQJgVqYQK	t	2026-09-20 15:10:30.998	2026-09-20 15:10:30.998
\.


--
-- Data for Name: tax_invoice_line_items; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.tax_invoice_line_items (id, "invoiceId", "employeeId", "employeeCode", "employeeName", category, "hoursWorked", "hourlyRate", amount) FROM stdin;
\.


--
-- Data for Name: tax_invoices; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.tax_invoices (id, "invoiceNumber", "clientId", "companyId", "periodStart", "periodEnd", subtotal, "cgstAmount", "sgstAmount", "igstAmount", "totalAmount", status, "issuedAt", "dueDate", "paidAt", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Name: attendance_days attendance_days_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_days
    ADD CONSTRAINT attendance_days_pkey PRIMARY KEY (id);


--
-- Name: attendance_logs attendance_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_logs
    ADD CONSTRAINT attendance_logs_pkey PRIMARY KEY (id);


--
-- Name: biometrics biometrics_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.biometrics
    ADD CONSTRAINT biometrics_pkey PRIMARY KEY (id);


--
-- Name: client_category_rates client_category_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.client_category_rates
    ADD CONSTRAINT client_category_rates_pkey PRIMARY KEY (id);


--
-- Name: clients clients_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT clients_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: companies companies_slug_key; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_slug_key UNIQUE (slug);


--
-- Name: device_api_keys device_api_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.device_api_keys
    ADD CONSTRAINT device_api_keys_pkey PRIMARY KEY (id);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: employee_assignments employee_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employee_assignments
    ADD CONSTRAINT employee_assignments_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: face_embeddings face_embeddings_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT face_embeddings_pkey PRIMARY KEY (id);


--
-- Name: payroll_runs payroll_runs_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payroll_runs
    ADD CONSTRAINT payroll_runs_pkey PRIMARY KEY (id);


--
-- Name: payslip_line_items payslip_line_items_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payslip_line_items
    ADD CONSTRAINT payslip_line_items_pkey PRIMARY KEY (id);


--
-- Name: payslips payslips_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payslips
    ADD CONSTRAINT payslips_pkey PRIMARY KEY (id);


--
-- Name: super_admins super_admins_email_key; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.super_admins
    ADD CONSTRAINT super_admins_email_key UNIQUE (email);


--
-- Name: super_admins super_admins_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.super_admins
    ADD CONSTRAINT super_admins_pkey PRIMARY KEY (id);


--
-- Name: tax_invoice_line_items tax_invoice_line_items_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.tax_invoice_line_items
    ADD CONSTRAINT tax_invoice_line_items_pkey PRIMARY KEY (id);


--
-- Name: tax_invoices tax_invoices_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.tax_invoices
    ADD CONSTRAINT tax_invoices_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: attendance_days_companyId_date_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "attendance_days_companyId_date_idx" ON public.attendance_days USING btree ("companyId", date);


--
-- Name: attendance_days_date_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX attendance_days_date_idx ON public.attendance_days USING btree (date);


--
-- Name: attendance_days_employeeId_date_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "attendance_days_employeeId_date_key" ON public.attendance_days USING btree ("employeeId", date);


--
-- Name: attendance_logs_companyId_timestamp_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "attendance_logs_companyId_timestamp_idx" ON public.attendance_logs USING btree ("companyId", "timestamp");


--
-- Name: attendance_logs_employeeId_timestamp_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "attendance_logs_employeeId_timestamp_idx" ON public.attendance_logs USING btree ("employeeId", "timestamp");


--
-- Name: attendance_logs_scanId_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "attendance_logs_scanId_key" ON public.attendance_logs USING btree ("scanId");


--
-- Name: attendance_logs_timestamp_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX attendance_logs_timestamp_idx ON public.attendance_logs USING btree ("timestamp");


--
-- Name: biometrics_deviceId_deviceUserId_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "biometrics_deviceId_deviceUserId_key" ON public.biometrics USING btree ("deviceId", "deviceUserId");


--
-- Name: biometrics_employeeId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "biometrics_employeeId_idx" ON public.biometrics USING btree ("employeeId");


--
-- Name: client_category_rates_clientId_category_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "client_category_rates_clientId_category_key" ON public.client_category_rates USING btree ("clientId", category);


--
-- Name: clients_companyId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "clients_companyId_idx" ON public.clients USING btree ("companyId");


--
-- Name: clients_companyId_name_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "clients_companyId_name_key" ON public.clients USING btree ("companyId", name);


--
-- Name: device_api_keys_deviceId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "device_api_keys_deviceId_idx" ON public.device_api_keys USING btree ("deviceId");


--
-- Name: device_api_keys_keyHash_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "device_api_keys_keyHash_key" ON public.device_api_keys USING btree ("keyHash");


--
-- Name: devices_companyId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "devices_companyId_idx" ON public.devices USING btree ("companyId");


--
-- Name: employee_assignments_clientId_employeeId_startDate_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "employee_assignments_clientId_employeeId_startDate_key" ON public.employee_assignments USING btree ("clientId", "employeeId", "startDate");


--
-- Name: employee_assignments_clientId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "employee_assignments_clientId_idx" ON public.employee_assignments USING btree ("clientId");


--
-- Name: employee_assignments_employeeId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "employee_assignments_employeeId_idx" ON public.employee_assignments USING btree ("employeeId");


--
-- Name: employees_companyId_email_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "employees_companyId_email_key" ON public.employees USING btree ("companyId", email);


--
-- Name: employees_companyId_employeeCode_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "employees_companyId_employeeCode_key" ON public.employees USING btree ("companyId", "employeeCode");


--
-- Name: employees_companyId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "employees_companyId_idx" ON public.employees USING btree ("companyId");


--
-- Name: employees_userId_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "employees_userId_key" ON public.employees USING btree ("userId");


--
-- Name: face_embeddings_employeeId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "face_embeddings_employeeId_idx" ON public.face_embeddings USING btree ("employeeId");


--
-- Name: payroll_runs_companyId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "payroll_runs_companyId_idx" ON public.payroll_runs USING btree ("companyId");


--
-- Name: payroll_runs_companyId_periodStart_periodEnd_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "payroll_runs_companyId_periodStart_periodEnd_key" ON public.payroll_runs USING btree ("companyId", "periodStart", "periodEnd");


--
-- Name: payslip_line_items_payslipId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "payslip_line_items_payslipId_idx" ON public.payslip_line_items USING btree ("payslipId");


--
-- Name: payslips_employeeId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "payslips_employeeId_idx" ON public.payslips USING btree ("employeeId");


--
-- Name: payslips_payrollRunId_employeeId_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "payslips_payrollRunId_employeeId_key" ON public.payslips USING btree ("payrollRunId", "employeeId");


--
-- Name: tax_invoice_line_items_invoiceId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "tax_invoice_line_items_invoiceId_idx" ON public.tax_invoice_line_items USING btree ("invoiceId");


--
-- Name: tax_invoices_clientId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "tax_invoices_clientId_idx" ON public.tax_invoices USING btree ("clientId");


--
-- Name: tax_invoices_companyId_invoiceNumber_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX "tax_invoices_companyId_invoiceNumber_key" ON public.tax_invoices USING btree ("companyId", "invoiceNumber");


--
-- Name: tax_invoices_companyId_periodStart_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "tax_invoices_companyId_periodStart_idx" ON public.tax_invoices USING btree ("companyId", "periodStart");


--
-- Name: users_companyId_idx; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX "users_companyId_idx" ON public.users USING btree ("companyId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: attendance_days attendance_days_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_days
    ADD CONSTRAINT "attendance_days_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public.employees(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: attendance_logs attendance_logs_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_logs
    ADD CONSTRAINT "attendance_logs_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public.employees(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: biometrics biometrics_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.biometrics
    ADD CONSTRAINT "biometrics_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public.employees(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: client_category_rates client_category_rates_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.client_category_rates
    ADD CONSTRAINT "client_category_rates_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public.clients(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: clients clients_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.clients
    ADD CONSTRAINT "clients_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: device_api_keys device_api_keys_deviceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.device_api_keys
    ADD CONSTRAINT "device_api_keys_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES public.devices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: devices devices_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT "devices_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: employee_assignments employee_assignments_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employee_assignments
    ADD CONSTRAINT "employee_assignments_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public.clients(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: employees employees_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT "employees_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: employees employees_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT "employees_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: face_embeddings face_embeddings_employeeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.face_embeddings
    ADD CONSTRAINT "face_embeddings_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES public.employees(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payroll_runs payroll_runs_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payroll_runs
    ADD CONSTRAINT "payroll_runs_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payslip_line_items payslip_line_items_payslipId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payslip_line_items
    ADD CONSTRAINT "payslip_line_items_payslipId_fkey" FOREIGN KEY ("payslipId") REFERENCES public.payslips(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: payslips payslips_payrollRunId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.payslips
    ADD CONSTRAINT "payslips_payrollRunId_fkey" FOREIGN KEY ("payrollRunId") REFERENCES public.payroll_runs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tax_invoice_line_items tax_invoice_line_items_invoiceId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.tax_invoice_line_items
    ADD CONSTRAINT "tax_invoice_line_items_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES public.tax_invoices(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: tax_invoices tax_invoices_clientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.tax_invoices
    ADD CONSTRAINT "tax_invoices_clientId_fkey" FOREIGN KEY ("clientId") REFERENCES public.clients(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: users users_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public.companies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 1cVRmjn4lJdWdhBwdmIL8dPE2Bbu8b139nBV2wiqg7LmeIAMSoOGyFsCrSWIaBv

